*{
margin: 0;
padding: 0;
    
}
html {
scroll-behavior: smooth;
/* margin-left: 100px;
margin-right: 100px; */
}
body{
background-color: #e0e5eb;
background-image: url(ice-cream.jpg);
background-size: 1920px 1080px;
background-repeat: no-repeat;
position: relative;
}

header{
background-color: rgb(255, 255, 255);
width: 100%;
height: 90px;
display: flex;
}
footer{
background-color: rgb(74, 74, 74);
width: 100%;
height: 200px;
position: absolute;
margin-top: 3000px;
}
p{
font-size: 27px;
font-weight: bold;
color: rgb(159, 159, 159);
padding-top: 30px;
padding-left: 250px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.gl{
font-size: 22px;
color: rgb(210, 14, 83);
padding-left: 930px;
padding-top: 30px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.we{
font-size: 22px; 
padding-top: 30px;
margin-left: 50px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
transition: 0.10s;
}
.we:hover{
color: rgb(159, 159, 159);
}
.cont{
font-size: 22px;
padding-top: 30px;
margin-left: 50px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
transition: 0.10s;
}
.cont:hover{
color: rgb(159, 159, 159);
}
p1{
font-size: 60px;
color: rgb(210, 14, 83);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-shadow: 1px 1px 2px rgb(225, 55, 89), 0 0 1em rgb(121, 121, 121);
display: flex;
padding-top: 40px;
padding-left: 247px;
}
p2{
font-size: 30px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
display: flex;
padding-left: 250px;
padding-top: 40px;
}
.ph1{
padding-left: 250px;
padding-top: 30px;
}
.ph2{
padding-left: 250px;
padding-top: 7px;
}
#ph1{
width: 200px;
height: 230px;
transition: 1s; 
}
#ph1:hover {
transform: scale(1.1);
}
#ph2{
width: 200px;
height: 230px;
margin-left: 7px;
transition: 1s;
}
#ph2:hover {
transform: scale(1.1);
}
#ph3{
width: 200px;
height: 230px;
margin-left: 7px;
transition: 1s;
}
#ph3:hover {
transform: scale(1.1);
}
#ph5{
width: 400px;
height: 250px;
transition: 1s;
}
#ph5:hover {
transform: scale(1.1);
}
#ph6{
width: 200px;
height: 250px;
margin-left: 15px;
transition: 1s;
}
#ph6:hover {
transform: scale(1.1);
}

p4{
color: rgb(33, 33, 33);
display: flex;
font-size: 20px;
padding-top: 30px;
padding-left: 250px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
color: rgb(33, 33, 33);
padding-left: 5px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#wed{
background-color: #555272;
width: 100%;
height: 500px;
margin-top: 80px;
}
p3{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 45px;
padding-left: 250px;
display: flex;
padding-top: 135px;
color: aliceblue;
}
p5{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
display: flex;
color: aliceblue;
font-size: 20px;
width: 270px;
text-align: center;
padding-left: 265px;
padding-top: 40px;
}
.img{
position: absolute;
left: 950px;
bottom: 220px;
}
#img{
width: 140px;
height: 170px;
border-radius: 100px; 
border: 5px solid rgb(225, 55, 89); 
box-shadow: 0 0 7px #666;
transition: 1s;
}
#img:hover {
transform: scale(1.1);
}
#img1{
width: 140px;
height: 170px;
border-radius: 100px; 
border: 5px solid rgb(225, 55, 89); 
box-shadow: 0 0 7px #666;
margin-left: 100px;
transition: 1s;
}
#img1:hover {
transform: scale(1.1);
}
#img2{
width: 140px;
height: 170px;
border-radius: 100px; 
border: 5px solid rgb(225, 55, 89); 
box-shadow: 0 0 7px #666;
margin-left: 100px;
transition: 1s;
}
#img2:hover {
transform: scale(1.1);
}
.naz{
display: flex;
padding-left: 955px;
}
p6{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: aliceblue;
font-size: 23px;
text-align: center;
}
p7{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: aliceblue;
font-size: 23px;
width: 100px;
text-align: center;
margin-left: 130px;
}
p8{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: aliceblue;
font-size: 23px;
text-align: center;
margin-left: 170px;
}

#van{
position: absolute;
background-color: rgb(240, 238, 226);
width: 480px;
height: 550px;
top: 1600px;
left: 450px;
}
.van{
position: absolute;
left: 920px;
top: 1600px;
}
.van1{
width: 550px;
height: 550px;
}
h1{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 40px;
width: 50px;
padding-left: 50px;
padding-top: 80px;
}
p9{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 22px;
width: 390px;
display: block;
margin-top: 20px;
padding-left: 50px;
}
#button{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-color: #ffffff;
font-size: 25px;
width: 220px;
height: 80px;
border: 5px solid #d3d1e2;
margin-left: 50px;
margin-top: 50px;
/* transition: 1s; */
}
#button:hover{
background-color: rgb(27, 27, 27);
color: #ffffff;
}
.blockF{
position: absolute;
width: 250px;
height: 830px;
background-color: #555272;
top: 2500px;
left: 830px;
}
.blockR{
position: absolute;
width: 400px;
height: 400px;
background-color: #c71e38;
top: 2450px;
left: 1000px;
}
p10{
display: flex;
font-size: 1.5rem;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: rgb(255, 255, 255);
margin-top: 25px;
margin-left: 60px;
}
p11{
display: flex;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: #ffffff;
width: 50px;
font-size: 48px;
margin-top: 25px;
margin-left: 60px;
}
#f{
position: absolute;
top: 2590px;
left: 450px;
}
.f{
width: 477px;
height: 660px;
}
#veg{
position: absolute;
width: 540px;
height: 540px;
background-color: rgb(255, 255, 255); 
top: 2870px;
left: 1000px;
}
h2{
display: flex;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 48px;
width: 150px;
margin-top: 25px;
margin-left: 60px;
}
p12{
display: flex;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin-top: 25px;
margin-left: 60px;
font-size: 25px;
width: 400px;
}
#button1{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
background-color: #ffffff;
font-size: 25px;
width: 220px;
height: 80px;
border: 5px solid #d3d1e2;
margin-left: 50px;
margin-top: 50px;
}
#button1:hover{
background-color: rgb(27, 27, 27);
color: #ffffff;
}
#pz{
position: absolute;
width: 1348px;
height: 479px;
top: 3600px;
left: 350px;
}
h3{
display: flex;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 48px;
text-align: center;
margin-left: 400px;
}
p14{
display: flex;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 20px;
text-align: center;
width: 600px;
margin-left: 320px;
margin-top: 30px;
line-height: 40px;
}
h4{
display: flex;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 30px;
text-align: center;
margin-left: 510px;
margin-top: 30px;
}
.t{
position: absolute;
left: 770px;
top: 3900px;
}
#t{
width: 60px;
height: 60px;
}
#R{
display: flex;
background-color: #c71e38;
width: 60px;
height: 5px;
margin-top: 30px;
margin-left: 585px;
}
#on{
position: absolute;
width: 350px;
height: 350px;
top: 4050px;
left: 450px;
}
h5{
display: flex;
font-size: 50px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin-left: 20px;
}
p16{
display: flex;
font-size: 25px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin-left: 20px;
margin-top: 20px;
}
h6{
display: flex;
font-size: 30px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin-left: 20px;
margin-top: 20px;
color: #c71e38;
}
p17{
display: flex;
font-size: 30px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
margin-left: 20px;
margin-top: 20px;
color: #c71e38;
}
#recl{
position: absolute;
width: 725px;
height: 350px;
top: 4050px;
left: 850px;
background-color: #555272;
}
h7{
display: flex;
color: #ffffff;
font-size: 35px;
width: 670px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bolder;
margin-top: 60px;
margin-left: 25px;
}
#name{
/* display: flex; */
color: #666;
margin-top: 40px;
font-size: 20px;
width: 240px;
height: 40px;
margin-left: 25PX;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#button2{
font-size: 20px;
width: 350px;
height: 45px;
font-weight: bolder;
color: #ffffff;
background-color: #c71e38 ;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#button2:hover{
background-color: #97162a;
}
#png{
position: absolute;
top: 4340px;
left: 880px;
}
.png1{
margin-left: 20px;
}
.png2{
margin-left: 20px;
}
h8{
display: flex;
font-size: 30px;
color: #ffffff;
margin-top: 60px;
margin-left: 700px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
p20{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
display: flex;
color: #ffffff;
margin-top: 15px;
margin-left: 890px;
font-size: 22px;
}
#krug{
position: absolute;
background-color: #c71e38 ;
width: 100px;
height: 100px;
border-radius: 100px;  
box-shadow: 0 0 7px rgb(225, 55, 89);
left: 480px;
top: 1460px;
}