*{
    margin: 0;
    padding: 0;
    
}
html {
    scroll-behavior: smooth;
    /* margin-left: 100px;
    margin-right: 100px; */
}
body{
    background-color: #e0e5eb;
    background-image: url(ice-cream.jpg);
    background-size: 1920px 1080px;
    background-repeat: no-repeat;
    position: relative;
}

header{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 90px;
    display: flex;
}
/* footer{
    background-color: rgb(74, 74, 74);
    width: 100%;
    height: 98px;
    display: flex;
    margin-top: 50px;
} */
p{
font-size: 27px;
font-weight: bold;
color: rgb(159, 159, 159);
padding-top: 30px;
padding-left: 250px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.gl{
font-size: 22px;
color: rgb(210, 14, 83);
padding-left: 930px;
padding-top: 30px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.we{
font-size: 22px; 
padding-top: 30px;
margin-left: 50px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
transition: 0.10s;
}
.we:hover{
color: rgb(159, 159, 159);
}
.cont{
font-size: 22px;
padding-top: 30px;
margin-left: 50px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
transition: 0.10s;
}
.cont:hover{
    color: rgb(159, 159, 159);
    }
p1{
font-size: 60px;
color: rgb(210, 14, 83);
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
text-shadow: 1px 1px 2px rgb(225, 55, 89), 0 0 1em rgb(121, 121, 121);
display: flex;
padding-top: 40px;
padding-left: 247px;
}
p2{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    padding-left: 250px;
    padding-top: 40px;
}
.ph1{
    padding-left: 250px;
    padding-top: 30px;
}
.ph2{
    padding-left: 250px;
    padding-top: 7px;
}
#ph1{
    width: 200px;
    height: 230px;
    transition: 1s;
    
}
#ph1:hover {
    transform: scale(1.1);
}
#ph2{
    width: 200px;
    height: 230px;
    margin-left: 7px;
    transition: 1s;
}
#ph2:hover {
    transform: scale(1.1);
}
#ph3{
    width: 200px;
    height: 230px;
    margin-left: 7px;
    transition: 1s;
}
#ph3:hover {
    transform: scale(1.1);
}
#ph5{
    width: 400px;
    height: 250px;
    transition: 1s;
}
#ph5:hover {
    transform: scale(1.1);
}
#ph6{
    width: 200px;
    height: 250px;
    margin-left: 15px;
    transition: 1s;
}
#ph6:hover {
    transform: scale(1.1);
}

p4{
color: rgb(33, 33, 33);
display: flex;
font-size: 20px;
padding-top: 30px;
padding-left: 250px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
a{
color: rgb(33, 33, 33);
padding-left: 5px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#wed{
background-color: #555272;
width: 100%;
height: 500px;
margin-top: 80px;
}
p3{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-size: 45px;
padding-left: 250px;
display: flex;
padding-top: 135px;
color: aliceblue;
}
p5{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
display: flex;
color: aliceblue;
font-size: 20px;
width: 270px;
text-align: center;
padding-left: 265px;
padding-top: 40px;
}
.img{
position: absolute;
left: 950px;
bottom: 220px;
}
#img{
    width: 140px;
    height: 170px;
    border-radius: 100px; 
    border: 5px solid rgb(225, 55, 89); 
    box-shadow: 0 0 7px #666;
}
#img1{
    width: 140px;
    height: 170px;
    border-radius: 100px; 
    border: 5px solid rgb(225, 55, 89); 
    box-shadow: 0 0 7px #666;
    margin-left: 100px;
}
#img2{
    width: 140px;
    height: 170px;
    border-radius: 100px; 
    border: 5px solid rgb(225, 55, 89); 
    box-shadow: 0 0 7px #666;
    margin-left: 100px;
}
.naz{
display: flex;
padding-left: 955px;
}
p6{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: aliceblue;
font-size: 23px;
text-align: center;
}
p7{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: aliceblue;
font-size: 23px;
width: 100px;
text-align: center;
margin-left: 130px;
}
p8{
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
color: aliceblue;
font-size: 23px;
text-align: center;
margin-left: 170px;
}

#van{
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 480px;
    height: 550px;
    top: 1600px;
    left: 450px;
}
.van{
position: absolute;
left: 920px;
top: 1600px;
}
.van1{
    width: 550px;
    height: 550px;
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    width: 50px;
    padding-left: 50px;
    padding-top: 80px;
}
p9{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 22px;
    width: 390px;
    display: block;
    margin-top: 20px;
    padding-left: 50px;
}
#button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: #ffffff;
    font-size: 25px;
    width: 220px;
    height: 80px;
    border: 5px solid #d3d1e2;
    margin-left: 50px;
    margin-top: 50px;
}